@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@700&family=Roboto+Mono:wght@500&family=Source+Code+Pro:wght@300&family=Vazirmatn:wght@700&display=swap");

body {
    font-family: "Roboto Mono", monospace;
    margin: 0 auto;
    background-color: #28283d;
    height:100%;
    width:100%;
    display:block;
}

h1 {
    color: white;
    font-weight: bolder;
    text-align: center;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elem-group {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.elem-group label {
    margin: 10px;
    font-size: 20px;
}

.elem-group input {
    padding: 10px;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: all .3s;
    background-color: #455d70
}

input:focus {
    background-color: #70a793;

}

input::placeholder {
    color: white;
    transition: all .2s;
}

input:focus::placeholder {
    color: white;
    transform: translateY(40px);
}

button {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 40px;
    width: 30%;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: darkslategray;
    font-size: 20px;
    transition: all .5s;
    align-items: center;
    justify-content: center;
    height: 90 px;
}

button:hover {
    background-color: #0d5e73;
    cursor: pointer;
}

button p {
    margin-left: 10px;
    width: 45%;
    transition: all .5s;
}

button:hover p {
    transform: translateX(80px);
    color: transparent
}

button img {
    transition: all .5s;
}

button:hover img {
    transform: translateX(80px);
}

textarea {
    width: 97%;
    height: 120px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize:none;
    background-color:  #455d70;
    padding: 10px;
    color: white;}